    <div class="w-fit h-3/4 mr-[5%] flex self-center">
        <div class="bg-[#D9D9D9] h-44 rounded-2xl w-80 flex z-0 mt-4">
            <div class=" w-80 rounded-2xl z-0 absolute">
                    <div class="flex justify-center items-center relative w-full h-44 escurecedor">
                        <img class="w-24 z-0 flex items-center" src="/images/Clients/MyParties/Cruz.svg">
<!--                     <img class="flex justify-center absolute w-72 z-20" src="/images/Clients/MyParties/Status.png"> -->
                    </div>
            </div>
        </div>
    </div>