<div class="flex-row fixed flex h-screen w-1/6 top-0 z-50">
    <nav class="w-fit shadow-2xl">
        <a href="/ThirdParty/AddServices">
            <div class="w-full h-12 bg-[#BB00C7] flex justify-center">
                <button class="h-full w-fit"><img class="w-7 h-17" src="/images/Clients/Index/Sininho.png"/></button>
            </div>
        </a>
        <div class="roxinho flex justify-center items-center w-full h-28">
            <img class="items-center w-17 h-16" src="/images/ThirdParty/PurpleLogoOrganizarty.svg"></img>

            <h1 class="pl-4 text-[#848484] font-[Inter]">Olá, <strong>Terceirizado!</strong></h1> <!-- Limite de 10 caracteres -->

        </div>
        <div class="menu w-full h-4/5 pt-12">
            <div class="items-center font-[KonnectBold]">
                <a href="/ThirdParty/"><button class="mt-[25%] w-full hover:bg-[#BB00C7] hover:text-white h-12">Home</button></a>
                <a href="/ThirdParty/Products/"><button class="w-full hover:bg-[#BB00C7] hover:text-white h-12">Meus Produtos</button></a>
                <a href="/ThirdParty/Services/MyServices"><button class="w-full hover:bg-[#BB00C7] hover:text-white h-12">Meus Serviços</button></a>
                <a href="/ThirdParty/Requests/"><button class="w-full hover:bg-[#BB00C7] hover:text-white h-12">Meus Pedidos</button></a>
                <a href="/ThirdParty/Payment/Wallet"><button class="w-full hover:bg-[#BB00C7] hover:text-white h-12">Carteira</button></a>
            </div>
        </div>
    </nav>
</div>
