<div class="flex-row fixed flex h-screen w-1/6 top-0 z-50">
    <nav class="w-fit shadow-2xl">
        <a href="/Manager/Home">
            <div class="w-full h-12 bg-[#FFC700] flex justify-center">
                <button class="h-full w-fit"><img class="w-7 h-17" src="/images/Clients/Index/Sininho.png"/></button>
            </div>
        </a>
        <div class="amarelinho flex justify-center items-center w-full h-28">
            <img class="items-center w-17 h-16" src="/images/Manager/CreatedParties/YellowLogo.svg"></img>

            <h1 class="pl-4 text-[#848484] font-[Inter]">Olá, <strong>Gerente!</strong></h1> <!-- Limite de 10 caracteres -->
        </div>
        <div class="menu w-full h-4/5">
            <div class="items-center font-[KonnectBold] text-[#848484]">
                <a href="/Manager/Home"><button class="mt-[15%] w-full hover:bg-[#FFC700] hover:text-white h-12">Home</button></a>
                <a href="/Manager/CreatedParties"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Festas Criadas</button></a>
                <a href="/Manager/Decorations"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Minhas decorações</button></a>
                <a href="/Manager/Requests"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Produtos</button></a>
                <a href="/Manager/Wallet"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Serviços</button></a>
                <a href="/Manager/Locations"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Locais</button></a>
                <a href="/Manager/MyRequests"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Meus Pedidos</button></a>
                <a href="/Manager/MyThirdParties"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Novos Terceirizados</button></a>
                <a href="/Manager/Wallet"><button class="w-full hover:bg-[#FFC700] hover:text-white h-12">Carteira</button></a>
            </div>
        </div>
    </nav>
</div>
