<div class="flex-row fixed flex h-screen w-1/6">
    <nav class="w-fit shadow-2xl">
        <div class="sininho w-full h-12 bg-[#FF008A] flex flex-col">
            <button class="h-full w-full"><img class="flex items-center w-7 h-17" src="/images/Clients/Index/Sininho.png"></img></button>
        </div>
        <div class="border-b-5 border-[#FF008A] flex justify-center items-center w-full h-28">
            <img class="items-center w-17 h-16" src="/images/Clients/Index/LogoRosa.svg"></img>
            <h1 class="pl-4"> Olá, <strong> Cliente! </strong> </h2>
        </div>
        <div class="menu w-full h-4/5 pt-12">
            <div class="items-center">
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Home</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Criar festa</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Produtos</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Serviços</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Pedidos</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Pagamento</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Locais</button>
                <button class="w-full hover:bg-[#FF008A] hover:text-white h-12">Contato</button>
            </div>
        </div>
    </nav>
</div>