<div class="flex mt-1 ml-20 w-5/6 justify-around items-center font-[Konnect] text-[#848484] text-lg p-1" id="bordaCinza">
    <div class="w-1/4 flex items-center">
        <img src="/images/Clients/Products/BoloMorango.png" class="mr-4">
        <p>Bolo de Morango</p>
    </div>
    <div class="w-1/4 flex items-center ml-28 pl-4">
        <p class="mr-4">Bolo</p>
        <img src="/images/Clients/Products/IconBolo.svg">
    </div>
    <div class="w-1/4 flex items-center ml-32 pl-12">
        <p>1x</p>
    </div>
    <div class="w-1/4 flex items-center pl-40">
        <p>Aprovado</p> <!-- Trocar para variaveis, ex: "#Status" -->
    </div>
</div>