            <div class="flex">
                <div class="w-52 h-60 flex-col mr-16 mb-10 rounded">
                    <div class="Image w-full h-3/4 flex rounded">
                        <div class="Text flex flex-col justify-end ml-2 mb-2">
                            <p class="z-10 font-[KonnectBold] text-white">R$ 350,80</p>
                            <p class="z-10 font-[KonnectBold] text-white">Fotografias profissionais</p>
                        </div>
                    </div>
                        <button class="w-full mt-5 h-10 bg-[#484343] font-[Inter] font-bold text-white rounded-xl">Detalhes</button>
                </div>
            </div>