@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/Clients/"><button class="mt-10 w-full border border-solid border-black hover:bg-[#FF008A] hover:text-white hover:font-bold h-12">User</button></a>
<a href="/ThirdParty/AddServices"><button class="mt-5 w-full border border-solid border-black hover:bg-[#BB00C7] hover:text-white hover:font-bold h-12">Third Party</button></a>
<a href="/Manager/"><button class="mt-5 w-full border border-solid border-black hover:bg-[#FFC700] hover:text-white hover:font-bold h-12">Gerente</button></a>