@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/Clients/"><button class="mt-10 w-full border border-solid border-black hover:bg-[#FF008A] hover:text-white h-12">User</button></a>
<a href="/ThirdParty/AddServices"><button class="mt-5 w-full border border-solid border-black hover:bg-[#FF008A] hover:text-white h-12">Third Party</button></a>