@page
@model ContactUsModel
@{
    ViewData["title"] = "Contate-nos";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyClientsLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col bg-gradient-to-b from-[#7D3098] via-[#EF5781] to-[#FBD54A] text-[#FFFFFF] items-center justify-center">
    <div class="w-full justify-center flex pt-8">
        <img src="/images/ContactUs/WhiteLogo.svg" class="h-16 opacity-70">
    </div>
    <div class="flex justify-around mt-10">
        <div class="w-1/3">
            <h1 class="font-[KonnectBold] text-5xl">Contate-nos</h1>
            <p class="font-[Konnect] text-2xl mt-10"><span class="font-[KonnectBold]">Email:</span> Organi_zarty@gmail.com</p>
            <p class="font-[Konnect] text-2xl mt-5"><span class="font-[KonnectBold]">Telefone:</span> +55 (11) 99999-9999</p>
            <p class="font-[Konnect] text-2xl mt-5"><span class="font-[KonnectBold]">Endereço:</span> R. Guaipá, 678 - Vila Leopoldina, São Paulo - SP</p>
        </div>
        <img src="/images/ContactUs/Macaco.png" class="absolute left-1/4 bottom-0">
        <div class="w-1/3 h-full text-[#000000]">
            <h1 class="font-[KonnectBold] text-5xl text-[#FFFFFF]">Envie sua mensagem</h1>
            <input asp-for="Input.Name" class="font-[Konnect] mb-8 w-5/6 h-12 rounded-2xl shadow-xl border-[#FF008A] form-control placeholder-[#C6C6C6]" aria-required="true" placeholder="Nome"/>
            <span asp-validation-for="Input.Name" class="placeholder"></span>

            <input asp-for="Input.Email" class="font-[Konnect] mb-8 w-5/6 h-12 rounded-2xl shadow-xl border-[#FF008A] form-control placeholder-[#C6C6C6]" aria-required="true" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class="placeholder"></span>

            <textarea asp-for="Input.Message" class="font-[Konnect] mb-16 w-5/6 h-44 rounded-2xl shadow-xl border-[#FF008A] form-control placeholder-[#C6C6C6]" aria-required="true" placeholder="Messagem"></textarea>
            <span asp-validation-for="Input.Message" class="placeholder"></span>

            <div class="flex h-12">
                <button class=" w-52 font-[KonnectBold] text-white rounded-full RegisterButton bg-[#FF008A] pr-10 pl-10">Enviar</button>                
            </div>
        </div>
    </div>
</section>