.card{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.Template2{
    margin-left: -8rem;
}

.Template2:hover {
    z-index: 50;
}

.Template3{
    margin-left: -8rem;
}

.Template3:hover {
    z-index: 50;
}

/* 
div{
    border: red solid 1px;
}

img{
    border: slateblue solid 1px;
} */