@page

@{
    ViewData["title"] = "Organizarty";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyClientsLayout"/>

<section class="w-5/6 h-[1px] ml-auto flex flex-col">
    <div class="items-center flex flex-col w-full fixed top-0 h-1/12 self-center bg-white z-40">
        <img src="/images/General/ColoredLogo.svg" class="mt-5 w-16">
        <div class="w-fit mb-5">
            <p class="uppercase font-[KonnectBold] bg-gradient-to-r bg-clip-text text-transparent from-[#7D3098] via-[#EF5781] to-[#FBD54A] text-5xl">
                start your party
            </p>
        </div>
    </div>
    <div class="flex items-center justify-center w-fit h-96 rounded-[40px] card mt-48 mb-5 mx-56">
        <img src="/images/Clients/CreateParty/Bear.svg" class="ml-6 w-52">
        <div class="flex flex-col w-1/4 ml-4 mr-10 my-10">
            <h1 class="text-justify text-xs sm:text-sm md:text-md xl:text-xl 2xl:text-2xl font-[KonnectBold] text-[#434343] mb-3">Comece a criar seu <br><span class="underline">chá de bebê</span></h1>
            <p class="break-words text-justify text-md font-[Konnect] text-[#908D8D] mt-5 mb-10">Está pronto para criar seu evento de <span class="font-bold">chá de bebê</span>? lembrando que vamos precisar do seu apoio criando seu evento da melhor forma. Para prosseguir clique em <span class="uppercase">start</span>.</p>
            <a href="/Clients/Party/New" class="uppercase self-center font-[Inter] font-bold text-lg bg-gradient-to-r from-[#FF008A] to-[#FFC700] rounded-full text-[#FFFFFF] h-fit w-1/3 mb-4 inline-flex justify-center items-center">Start</a>
        </div>
        <div class="flex h-full w-fit">
            <img src="/images/Clients/CreateParty/Template1.png" class="h-full -z-10">
            <img src="/images/Clients/CreateParty/Template2.png" class="h-full -ml-[10.5rem] -z-20">
            <img src="/images/Clients/CreateParty/Template3.png" class="h-full -ml-[11.4rem] -z-30">
        </div>
    </div>

    <div class="flex items-center justify-center w-fit h-96 rounded-[40px] card my-10 mx-56">
        <img src="/images/Clients/CreateParty/Couple.svg" class="ml-6 w-52">
        <div class="flex flex-col w-1/4 ml-4 mr-10 mt-10">
            <h1 class="text-justify text-xs sm:text-sm md:text-md xl:text-xl 2xl:text-2xl font-[KonnectBold] text-[#434343] mb-3">Comece a criar sua festa de <span class="underline">casamento</span></h1>
            <p class="break-words text-justify text-md font-[Konnect] text-[#908D8D] mt-5 mb-10">Está pronto para criar seu evento de <span class="font-bold">casamento</span>? lembrando que vamos precisar do seu apoio criando seu evento da melhor forma. Para prosseguir clique em <span class="uppercase">start</span>.</p>
            <a href="/Clients/Party/New" class="uppercase self-center font-[Inter] font-bold text-xl bg-gradient-to-r from-[#FF008A] to-[#FFC700] rounded-full text-[#FFFFFF] h-fit w-1/3 mb-4 inline-flex justify-center items-center">Start</a>
        </div>
        <div class="flex h-full w-fit">
            <img src="/images/Clients/CreateParty/Casamento1.png" class="h-full -z-10">
            <img src="/images/Clients/CreateParty/Casamento2.png" class="h-full -ml-[10.5rem] -z-20">
            <img src="/images/Clients/CreateParty/Casamento3.png" class="h-full -ml-[11.4rem] -z-30">
        </div>
    </div>
    <div class="flex items-center justify-center w-fit h-96 rounded-[40px] card my-10 mx-56">
        <img src="/images/Clients/CreateParty/Debutante.svg" class="ml-6 w-52">
        <div class="flex flex-col w-1/4 ml-4 mr-10 mt-10">
            <h1 class="text-justify text-xs sm:text-sm md:text-md xl:text-xl 2xl:text-2xl font-[KonnectBold] text-[#434343] mb-3">Comece a criar sua<br>festa de <span class="underline">debutante</span></h1>
            <p class="break-words text-justify text-md font-[Konnect] text-[#908D8D] mt-5 mb-10">Está pronta para criar seu <span class="font-bold">aniversário como debutante</span>? lembrando que vamos precisar do seu apoio criando seu evento da melhor forma. Para prosseguir clique em <span class="uppercase">start</span>.</p>
            <a href="/Clients/Party/New" class="uppercase self-center font-[Inter] font-bold text-xl bg-gradient-to-r from-[#FF008A] to-[#FFC700] rounded-full text-[#FFFFFF] h-fit w-1/3 mb-4 inline-flex justify-center items-center">Start</a>
        </div>
        <div class="flex h-full w-fit">
            <img src="/images/Clients/CreateParty/Debutante1.png" class="h-full -z-10">
            <img src="/images/Clients/CreateParty/Debutante2.png" class="h-full -ml-[10.5rem] -z-20">
            <img src="/images/Clients/CreateParty/Debutante3.png" class="h-full -ml-[11.4rem] -z-30">
        </div>
    </div>
    <div class="flex items-center justify-center w-fit h-96 rounded-[40px] card my-10 mx-56">
        <img src="/images/Clients/CreateParty/HappyHour.svg" class="ml-6 w-52">
        <div class="flex flex-col w-1/4 ml-4 mr-10 mt-10">
            <h1 class="text-justify text-xs sm:text-sm md:text-md xl:text-xl 2xl:text-2xl font-[KonnectBold] text-[#434343] mb-3">Comece a criar seu <br><span class="underline">happy hour</span></h1>
            <p class="break-words text-justify text-md font-[Konnect] text-[#908D8D] mt-5 mb-10">Está pronto para criar seu evento de <span class="font-bold">happy hour</span>? lembrando que vamos precisar do seu apoio criando seu evento da melhor forma. Para prosseguir clique em <span class="uppercase">start</span>.</p>
            <a href="/Clients/Party/New" class="uppercase self-center font-[Inter] font-bold text-xl bg-gradient-to-r from-[#FF008A] to-[#FFC700] rounded-full text-[#FFFFFF] h-fit w-1/3 mb-4 inline-flex justify-center items-center">Start</a>
        </div>
        <div class="flex h-full w-fit">
            <img src="/images/Clients/CreateParty/HappyHour1.png" class="h-full -z-10">
            <img src="/images/Clients/CreateParty/HappyHour2.png" class="h-full -ml-[10.5rem] -z-20">
            <img src="/images/Clients/CreateParty/HappyHour3.png" class="h-full -ml-[11.4rem] -z-30">
        </div>
    </div>
    <div class="flex items-center justify-center w-fit h-96 rounded-[40px] card my-10 mx-56">
        <img src="/images/Clients/CreateParty/HappyBirthday.svg" class="ml-6 w-52">
        <div class="flex flex-col w-1/4 ml-4 mr-10 mt-10">
            <h1 class="text-justify text-xs sm:text-sm md:text-md xl:text-xl 2xl:text-2xl font-[KonnectBold] text-[#434343] mb-3">Comece a criar sua<br>festa de <span class="underline">aniversário</span></h1>
            <p class="break-words text-justify text-md font-[Konnect] text-[#908D8D] mt-5 mb-10">Está pronto para criar seu evento de <span class="font-bold">aniversário</span>? lembrando que vamos precisar do seu apoio criando seu evento da melhor forma. Para prosseguir clique em <span class="uppercase">start</span>.</p>
            <a href="/Clients/Party/New" class="uppercase self-center font-[Inter] font-bold text-xl bg-gradient-to-r from-[#FF008A] to-[#FFC700] rounded-full text-[#FFFFFF] h-fit w-1/3 mb-4 inline-flex justify-center items-center">Start</a>
        </div>
        <div class="flex h-full w-fit">
            <img src="/images/Clients/CreateParty/Aniversario1.png" class="h-full -z-10">
            <img src="/images/Clients/CreateParty/Aniversario2.png" class="h-full -ml-[10.5rem] -z-20">
            <img src="/images/Clients/CreateParty/Aniversario3.png" class="h-full -ml-[11.4rem] -z-30">
        </div>
    </div>
</section>
