section{
    border: red solid 1px;
}

nav{
    border: purple solid 1px;
}

div{
    border:greenyellow solid 1px;
}

h2{
    font-family: Inter;
}

.menu{
    font-family: KonnectBold;
    color: #948F8F;
    transition: all 0.4s;
}

/* button{
    border: blue solid 1px;
} */