@page
@model ClientModel
@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Home";
}

<section class="flex h-screen">
    <nav class="w-1/5 shadow-2xl">
        <div class="w-full h-10** bg-[#FF008A]">
            <button class="h-full w-full"><img class="justify-center w-6 h-6" src="/images/Clients/Index/Sininho.png"></img></button>
        </div>
        <div class="border-b-4 border-solid border-[#FF008A] flex justify-center items-center w-full h-28">
            <img class="items-center w-16 h-16" src="/images/Clients/Index/LogoRosa.svg"></img>
            <h2 class="pl-4"> Olá, <strong> Cliente! </strong> </h2>
        </div>
        <div class="w-full h-3/4">

        </div>
    </nav>
</section>