@page
@model ClientModel
@{
    Layout = "_OrganizartyClientsLayout";
    ViewData["Title"] = "Home";
}

<section class="w-5/6 flex justify-center">
    <div class="bg-[#D9D9D9] rounded-xl w-5/6 h-1/4 pt-24">


    </div>
</section>

</section>