
div{
    border: rgba(0, 128, 0, 0) solid 1px;
}

section{
    border: rgba(255, 0, 0, 0) solid 1px;
} 


.menuButtons:hover{
    transition: all 0.4s;
    height: 3.5rem;
    width: 3.5rem;
}

.placeholder{
  font-family: Inter;
}

h2{
    font-family: inter;
    font-weight: bold;
}

h1{
    font-family: inter;
    font-weight: bold;
    color: #605959;
}

h3{
    color: #B4B1B1;
    font-family: KonnectBold;
}

h4{
    font-family: KonnectBold;
    color:white;
}

p{
    color: white;
    font-family: Inter;
    font-size: 1vh;
}

.escurecedor{
    filter: brightness(50%);
}

.clareador{
    filter: brightness(100%);
}
 
.calendary{
    border: solid #D9D9D9 2px;
}

.table{
    border-radius:20%;
}

td{
    color: white;
}

mark{
    background-color: #FF009A;
    border-radius:7px;
    color: white;
    font-family: Inter;
    font-size: 2vh;
}

span{
    visibility: hidden;
}

