/* div{
    border: green solid 1px;
}

section{
    border: red solid 1px;
}

.sexo{
    border:blue solid 1px;
} */

.menuButtons:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}

.placeholder{
  font-family: Inter;
}

h2{
    font-family: inter;
    font-weight: bold;
}

h1{
    font-family: inter;
    font-weight: bold;
    color: #605959;
}

h3{
    color: #B4B1B1;
    font-family: KonnectBold;
}

h4{
    font-family: KonnectBold;
    color:white;
}

p{
    color: white;
    font-family: Inter;
    font-size: 1vh;
}

.escurecedor{
    filter: brightness(50%);
}

.clareador{
    filter: brightness(100%);
}

table{
    width: 70%; 
    /* border: solid #D9D9D9 1px; */
    font-family: Inter;
    font-weight: bold;
    border-radius: 20%;
}

td{
    border: black solid 1px;
    
}

