@page
@{
    ViewData["title"] = "Nova Festa";
    Layout = "_NullLayout";
}

<section class="w-screen h-screen flex-col bg-gradient-to-b from-[#FF008A] via-[#BB00C7] to-[#008EDE] justify-center items-center">
</section>