#titleDropdown{
    margin-left: 15%;
    margin-bottom: 40px;
}

#bordaPreta{
    border-bottom: #424242 solid 1.5px;
}

#bordaCinza{
    border-bottom: #E8DEDE solid 0.5px;
}

.dropdown{
    margin-left: 100%;
    width: fit-content;
}