@page
@model ProductsModel 
@using Organizarty.UI.Blazor.Components.Products;
@{
    Layout = "_ClientLayout";
    ViewData["Title"] = "Products";
}

<section class="h-screen ml-auto w-full">
    <div class="flex justify-start h-1/6">
        <div class="self-center flex mt-[1%]"> <!-- Trocar a extensão das imagens para svg       #848484-->
            <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="Button flex menuButtons rounded-full w-16 h-16 bg-[#424242]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Bolo.png"></img></button><h4 class="text-sm">Bolos</h4></div>
            <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="Button flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Brigadeiro.png"></img></button><h4 class="text-sm">Doces</h4></div>
            <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="Button flex menuButtons rounded-full w-16 h-16  hover:bg-[#424242] bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Croissant.png"></img></button><h4 class="text-sm">Salgados</h4></div>
            <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="Button flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Coquetel.png"></img></button><h4 class="text-sm">Bebidas</h4></div>
            <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="Button flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Shopping.png"></img></button><h4 class="text-sm">Decorações</h4></div>
        </div>
            <div class="flex w-full justify-end ">
                <div class="flex justify-center items-center w-3/4">
                    <input asp-for="Input.Search" class="w-96 h-12 rounded-3xl shadow-xl border-transparent bg-[#E8E8E8] form-control" aria-required="true" placeholder="Search Items"/>
                    <span asp-validation-for="Input.Search" class="placeholder"></span>
                    <button class="bg-[#757272] rounded-full w-14 h-10 ml-2"><img class="self-center w-1/2 ml-auto mr-auto" src="/images/Clients/Index/Lupa.svg"></img></button>
                </div>
            </div>
    </div>
    <section class="w-full flex justify-center h-5/6">
        <div class="w-5/6">
            @if(Model.Foods.Count == 0){
              <p>sem comida meu nobre</p>
      } else{
            @foreach(var item in Model.Foods){
              <div class="mt-20">
                  <h1 class="font-[KonnectBold] text-[#A09898] text-4xl">@item.Name</h1>
              </div>
              <div class="flex">
                  @foreach(var subitem in item.Foods){
                    <component type="typeof(ClientProductCard)" render-mode="ServerPrerendered" param-Food="@subitem" />
                  }
              </div>
            }
      }
        </div>
    </section>
</section>
