@page

@{
    ViewData["title"] = "Organizarty";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyClientsLayout"/>

<section class="w-5/6 ml-auto h-screen">
    <div class="w-full">
        <h1 class="w-fit font-[KonnectBold] text-[#848484] uppercase">Meus pedidos<hr></h1>
    </div>
</section>