@page
@using Organizarty.UI.Blazor.Components.Schedule
@model RequestsModel
@{
    ViewData["title"] = "Pedidos";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyClientsLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col">
    <div class="fixed w-5/6 top-0 bg-white z-40">
        <div class="w-full flex items-center p-10 justify-between">
            <h1 class="w-fit font-[KonnectBold] text-[#848484] text-4xl justify-self-start">Meus Pedidos<hr class="rounded-[30px] border-[3.5px] border-[#FF008A] w-11/12"></h1>
        </div>
        <div class="ml-20 w-full font-[Konnect] text-2xl text-[#424242] flex text-left">
            <h2 id="bordaPreta" class="w-1/4">Nome Item</h2>
            <div class="w-3/4 flex" id="bordaCinza">
                <h2 class="w-1/3">Categoria</h2>
                <h2 class="w-1/3">Quantidade</h2>
                <h2 class="w-1/3">Status</h2>
            </div>
        </div>
    </div>
    <div class="mt-44 z-30">
        @foreach(var order in Model.Items){
          <component type="typeof(ScheduleOrderCard)" render-mode="ServerPrerendered" param-Item="@order" />
        }
    </div>
</section>
