@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root{
    --rosa: #FF008A;
    --roxo:#BB00C7;
    --amarelo: #FFC700;
    --laranja: #FF7F31;
    --branco: #FFFFFF;
    --cinza: #424242;
    --cinzaClaro: #9c9c9c;
    --cinza2: #666564;
    --cinza3: #BEBBBB;
    --transparente: #aa22aa00;
    --lilas: #A882B5;
    --roxoEscuro: #7D3098;
    --marrom: #795834;
    --roxoDebutante: #633479;
    --marromFundo: #B4A386;
    --azul: #00A2E8;
    --verde: #12ED49;
    --laranja: #F59765;
}

@font-face {
    font-family: Konnect;
    src: url(../fonts/Konnect/KonnectLight.otf);
}

@font-face {
    font-family: KonnectBold;
    src: url(../fonts/Konnect/KonnectExtraBold.otf);
}

@font-face{
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}