@page
@model RequestsThirdPartyModel
@using Organizarty.UI.Blazor.Components.Orders.Tr;

@{
  ViewData["title"] = "Seus pedidos";
  Layout = "_ThirdPartyLayout";
}

<base href="~/" />

<h1 class="w-fit font-[KonnectBold] text-[#848484] text-4xl justify-self-start mb-12">Meus Pedidos
  <hr class="rounded-[30px] border-[3.5px] border-[#BB00C7] w-11/12">
</h1>

<div class="px-4 overflow-x-auto sm:rounded-lg w-full">
  <component type="typeof(ManagerOrdersTable)" render-mode="ServerPrerendered" param-Orders="@Model.Orders" />
</div>
