@page
@model IndexModel 

@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Home";
}

<partial name="_OrganizartyThirdPartyLayout"/>
 <section class="flex flex-col h-screen ml-auto w-5/6">
    <div class="bg-[#D9D9D9] rounded-xl mt-8 w-5/6 pb-4 h-44 flex-col flex self-center">
        <div class="text-white self-center mt-6 text-lg">
            <h2>Vamos ajudar nossos clientes a festejar hoje com seus serviços e produtos?</h2>
        </div>
        <div class="w-2/3 flex justify-center self-center mt-4">
            <input asp-for="Input.Search" class="w-6/12 h-6 rounded-xl shadow-xl placeholder form-control" aria-required="true" placeholder="Pesquisar Itens"/>
            <span asp-validation-for="Input.Search" class="placeholder"></span>
            <button class="bg-[#757272] rounded-full w-10 ml-2"><img class=" self-center ml-auto mr-auto" src="/images/Clients/Index/Lupa.svg"></img></button>
        </div>
    </div>

    <div class="w-full h-3/4 flex-col flex justify-center items-center">
        <img class="w-14 mb-4" src="/images/Clients/Index/Zart.svg"></img>
        <h3 class="mb-6">Cadastre um novo produto ou serviço...</h3>
            <div class="flex mb-6">
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-4"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#424242]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Bolo.png"></img></button><h4 class="text-sm">Bolos</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-4"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Brigadeiro.png"></img></button><h4 class="text-sm">Doces</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-4"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Croissant.png"></img></button><h4 class="text-sm">Salgados</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-4"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Coquetel.png"></img></button><h4 class="text-sm">Bebidas</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-4"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Products/Shopping.png"></img></button><h4 class="text-sm">Decorações</h4></div>
            </div>
            <div class="flex">
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#424242]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconFotografo.svg"></img></button><h4 class="text-sm">Fotográfo</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconAnimador.svg"></img></button><h4 class="text-sm">Animador</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconGarcom.svg"></img></button><h4 class="text-sm">Garçom</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconSeguranca.svg"></img></button><h4 class="text-sm">Segurança</h4></div>
                <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button class="flex menuButtons rounded-full w-16 h-16  bg-[#848484]"><img class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconPersonagem.svg"></img></button><h4 class="text-sm">Personagem</h4></div>
            </div>
    </div>
    
</section>
