<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <CodeCoverage>
        <ModulePaths>
            <Exclude>
                <ModulePath>.*Mysql*</ModulePath>
                <ModulePath>.*FluentValidation*</ModulePath>
                <ModulePath>.*Organizarty.Infra*</ModulePath>
                <ModulePath>.*Organizarty.Application.Extensions*</ModulePath>
            </Exclude>
        </ModulePaths>
        <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
        <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>

    </CodeCoverage>
</Configuration>
