@page "{decorationid:Guid}"
@model EditDashboardModel

@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Decorações";
}
    
<section class="w-screen h-screen">
    <div class="text-[#848484] font-[Inter] h-1/4 pt-12 pl-24">
        <h1 class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl w-fit">
            Escolha as cores - @Model.Decoration.Name
            <hr class="border-4 border-solid border-[#848484] w-1/4 rounded-full">
        </h1>
        <p classs="text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl">
            Aqui você seleciona as cores desejadas para os balões
        </p>
    </div>
    <div class="w-full h-3/4 flex">
        <img class="w-1/3 h-4/5 ml-32" src="/images/Clients/Dashboard/IconBalao.svg">
        <div class="grid grid-cols-3 grid-rows-2 w-1/2 h-4/5">
            @foreach(var decoration in Model.Decorations){
                <a style="background: @decoration.Color;" class="h-52 w-52 rounded-2xl">a</a>
            }
        </div>
    </div>
</section>