@page
@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Decorações";
}

<section class="w-screen h-screen bg-gradient-to-b from-[#F70192] to-[#FFC700] dark:from-[#36013f] dark:to-[#EE7600]  flex flex-col font-[Inter] items-center">
    <div class="w-full flex justify-between px-14 pt-10">
        <a href="/Clients/Products" class="h-full">
            <img src="/images/Clients/Dashboard/IconVoltar.svg" class="h-4/5">
        </a>
        <a class="px-8 py-1 bg-white rounded-full">
            <button class="inline-flex text-xs xs:text-xs sm:text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-2xl text-[#848484] items-center gap-x-5">
                Adicionado
                <img src="/images/Clients/Dashboard/IconCarrinho.svg" class="h-4/5">
            </button>
        </a>
    </div>
    <div class="w-full flex flex-col text-white pl-[10%] gap-y-4">
        <h1 class="w-fit text-lg xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold">
            Categorias
            <hr class="w-2/5 border-4 border-solid border-white rounded-full">
        </h1>
        <h2 class="text-[0.5rem]/[0/75rem] sm:text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-2xl">
            Selecione a categoria que gostaria de começar a personalizar para a sua festa!
        </h2>
    </div>
    <div class="bg-white rounded-3xl flex flex-col py-12 px-32 gap-y-16 mt-12">
        <div class="flex gap-x-10">
            <a href="/Clients/Decorations/Dashboard/Type/0" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
                <img src="/images/Clients/Dashboard/IconBalao.svg">
            </a>
            <a href="/Clients/Decorations/Dashboard/Type/1" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
                <img src="/images/Clients/Dashboard/IconMesa.svg">
            </a>
            <a href="/Clients/Decorations/Dashboard/Type/2" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
                <img src="/images/Clients/Dashboard/IconDescartaveis.svg">
            </a>
        </div>
        <div class="flex gap-x-10 justify-center">
            <a href="/Clients/Decorations/Dashboard/Type/3" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
                <img src="/images/Clients/Dashboard/IconEnfeites.svg">
            </a>
            <a href="/Clients/Decorations/Dashboard/Type/4" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
                <img src="/images/Clients/Dashboard/IconLoucas.svg">
            </a>
        </div>
    </div>
</section>