@page "{DecorationCategory}"
@model TypeModel
@using Organizarty.UI.Blazor.Components.Decorations.Dashboard;
@using Organizarty.Application.App.Decorations.Entities;
@using Organizarty.UI.Extensions;

@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Decorações";

    var categoryImg = $"Icon{Model.DecorationCategory}.svg";
}

<section class="w-screen h-screen bg-white flex flex-col font-[Inter] items-center overflow-x-hidden">
    <div class="w-11/12 flex flex-col text-[#848484] pl-[4%] gap-y-4 pt-14 bg-white fixed pb-2">
        <h1 class="w-fit text-lg xs:text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold">
            @Model.DecorationCategory.GetTitle()
            <hr class="w-1/5 border-4 border-solid border-[#848484] rounded-full">
        </h1>
        <h2 class="text-[0.5rem]/[0.75rem] xs:text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
            @Model.DecorationCategory.GetSubTitle()
        </h2>
    </div>
    <div class="w-full h-3/4 flex mt-auto">
        <img class="w-1/3 h-auto ml-24 mt-10 fixed" src="/images/Clients/Dashboard/@categoryImg">
        <div class="grid grid-cols-3 gap-x-5 gap-y-10 mt-10 ml-[50%]">
            @foreach(var decoration in Model.Decorations){
                <div class="h-[12rem] w-[12rem] flex flex-col justify-center items-center">
                    <p class="text-sm">@decoration.Name</p>
                    <a href="/Clients/Decorations/Dashboard/Edit/@decoration.Id" class="border-4 border-solid border-[#C6C6C6] rounded-xl shadow-2xl p-2 h-5/6 w-5/6">
                        <img src="@decoration.ObjectURL" class="w-full h-full"/>
                    </a>
                </div>
            }
        </div>
    </div>
</section>