<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - MVC Application - <a asp-area="Organizarty" asp-controller="Home" asp-action="Privacy">Privacidade</a>
    </div>
</footer>
