@using Organizarty.Application.App.Services.Entities;

<div class="flex">
    <div class="w-52 h-60 flex-col mr-16 rounded">
        <div class="Image w-full h-3/4 flex rounded justify-center">
            <img src="@Service.Images[0]" class="Image w-fit"/>
        </div>
    <a href="/Clients/Services/Description/@Service.Id">
      <button class="w-full mt-0.5 h-10 bg-[#484343] font-[Inter] font-bold text-white rounded-xl">
        Detalhes
      </button>
    </a>
  </div>
</div> 

@code{
  [Parameter]
  public ServiceInfo Service { get; set; } = default!;
}