h2{
    font-family: inter;
    font-weight: bold;
}

h1{
    font-family: inter;
    font-weight: bold;
    color: #605959;
}

h3{
    color: #B4B1B1;
    font-family: KonnectBold;
}

h4{
    font-family: KonnectBold;
    color:white;
}

p{
    color: white;
    font-family: Inter;
    font-size: 1vh;
}

.escuro{
    filter: brightness(80%);
}

.Festa{
    cursor: pointer;
}
