@page "{code:Guid}"
@model ConfirmCodeModel 

<section class="w-screen h-screen flex flex-col items-center">
    <div class="bg-[#FF008A] w-full flex justify-center">
        <h2 class="font-[Inter] font-bold xs:text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl text-white py-4">Verificação de E-mail</h2>
    </div>
    <div class="flex flex-col  items-center h-full">
        <img src="/images/Clients/Accounts/IconEmailRosa.svg" class="w-2/6 mt-48 mb-4">
        @if(Model.Success){
          <p  class="font-[Konnect] text-[#C6C6C6] text-center ">Parabens, email confirmado com sucesso</p>
        } else {
          <p  class="font-[Konnect] text-[#C6C6C6] text-center ">Falha ao confirmar email</p>
        }
        <a href="/Clients/MyParties" class="opacity-0">
            <button class="bg-[#FF008A] text-white rounded-2xl p-5 font-[Inter] font-bold">
                Já verifiquei meu email
            </button>    
        </a>
        
    </div>
</section>