@page
@model ConfirmEmailModel
@{
Layout = "_NullLayout";
ViewData["Title"] = "Confirmar Email" ;
}

<section class="w-screen h-screen flex flex-col items-center">
    <div class="bg-[#FF008A] w-full flex justify-center">
        <h2 class="font-[Inter] font-bold xs:text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl text-white py-4">Verificação de E-mail</h2>
    </div>
    <div class="flex flex-col justify-evenly items-center h-full">
        <img src="/images/Clients/Accounts/IconEmailRosa.svg" class="w-1/6">
        <p class="font-[Konnect] text-[#C6C6C6] text-center">
            Enviamos uma mensagem para @Model.MaskedEmail, para <br>confirmar o email, basta ir até sua caixa de entrada <br>e clicar no link que te enviamos.
        </p>
        <a href="/Clients/MyParties">
            <button class="bg-[#FF008A] text-white rounded-2xl p-5 font-[Inter] font-bold">
                Já verifiquei meu email
            </button>    
        </a>
        
    </div>
</section>