h2{
  font-family: KonnectBold;
  color: #FF7F31;
  font-size: 7vh;
}

.line{
  width: 4vw;
  height: 15px;
  background-color: #FF7F31;
  justify-content: center;
}

.placeholder{
  font-family: Inter;
}

button{
 /*  border: purple solid 2px; */
  font-family: Inter;
}

.logar{
  background: linear-gradient(90deg, #FF008A 18.75%, #FFC700 81.77%);
  color: white;
  font-weight: bold;
}

.logar:hover{
  background-color: white;
  background: linear-gradient(90deg, #FF008A 18.75%, #FFC700 81.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: #9c9c9C solid 1px;
  transition: all 0.4s;
  border: #FF7F31 solid 1px;
}

.registrar{
  background: linear-gradient(180deg, #EF5781 0%, #FBD54A 100%);
  color: white;
  font-weight: bold;
}


.registrar:hover{
  background: linear-gradient(180deg, #EF5781 0%, #FBD54A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: #FF7F31 solid 1px;
}

div{
  border: solid 1px red
}