@page

@{
    ViewData["title"] = "Registrar";
    Layout = "_NullLayout";
}

<section class="flex m-0 w-full h-[751px]">
    <div class="User h-screen">
        <img src="/images/register/Logo1.svg" class="w-[6em] mb-[15%]"/>
        <h3 class="font-bold text-7xl text-center break-words leading-[90px] w-[70%] mb-[10%]">
            Comece a criar suas festas
        </h3>
        
        <p class="font-light text-2xl text-center break-words mb-[12%]">
            Para aqueles que querem dar play nas melhor festa!
        </p>

        <a href="/Clients/Accounts/CreateAccount" class="h-[8%] w-[23%] mb-[4%]">
            <button class="bg-transparent h-full w-full rounded-[15px] uppercase font-bold">
                Comece sua Festa
            </button>
        </a>
    </div>

    <div class="ThirdParty h-screen">
        <img src="/images/General/ColoredLogo.svg" class="w-[6em] mb-[15%]"/>
        <h3 class="font-bold text-7xl text-center break-words leading-[90px] w-[70%] mb-[10%]">
            Faça parte da equipe Zart
        </h3>

        <p class="font-light text-2xl text-center break-words mb-[12%]">
            Para aqueles que fazem os melhores quitutes!
        </p>

        <a href="/ThirdParty/Accounts/CreateAccount" class="h-[8%] w-[23%] mb-[4%]">
            <button class="hover:bg-white bg-transparent h-full w-full rounded-[15px] uppercase font-bold bg-clip-text text-transparent bg-gradient-to-b from-[#EF5781] to-[#FBD54A]">
                Comece a Vender 
            </button>
        </a>
    </div>
</section>
