@page
@model IndexModel
@{
Layout = "_ClientLayout";
ViewData["Title"] = "Products";
}

<section class="min-h-screen ml-auto w-full">
  <div class="flex justify-start h-1/6">
    <div class="self-center flex ml-16 mt-6"> <!-- Trocar a extensão das imagens para svg       #848484-->
      <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button
          class="flex menuButtons rounded-full w-16 h-16  bg-[#424242]"><img class="w-7 self-center ml-auto mr-auto"
            src="/images/Clients/Services/IconFotografo.svg"></img></button>
        <h4 class="text-sm">Fotográfo</h4>
      </div>
      <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button
          class="flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img
            class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconAnimador.svg"></img></button>
        <h4 class="text-sm">Animador</h4>
      </div>
      <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button
          class="flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img
            class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconGarcom.svg"></img></button>
        <h4 class="text-sm">Garçom</h4>
      </div>
      <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button
          class="flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img
            class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconSeguranca.svg"></img></button>
        <h4 class="text-sm">Segurança</h4>
      </div>
      <div class="w-fit flex flex-col items-center font-[KonnectBold] text-[#908D8D] mr-3"><button
          class="flex menuButtons rounded-full w-16 h-16 hover:bg-[#424242] bg-[#848484]"><img
            class="w-7 self-center ml-auto mr-auto" src="/images/Clients/Services/IconPersonagem.svg"></img></button>
        <h4 class="text-sm">Personagem</h4>
      </div>
    </div>
    <div class="flex w-full justify-end">
      <div class="flex justify-start items-center w-2/3">
        <input asp-for="Input.Search"
          class="w-96 h-12 rounded-3xl shadow-xl border-transparent bg-[#E8E8E8] form-control" aria-required="true"
          placeholder="Search Items" />
        <span asp-validation-for="Input.Search" class="placeholder"></span>
        <button class="bg-[#757272] rounded-full w-14 h-10 ml-2"><img class="self-center w-1/2 ml-auto mr-auto"
            src="/images/Clients/Index/Lupa.svg"></img></button>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center h-5/6">
    <div class="w-5/6">
      @foreach(var decoration in Model.Decorations){
      @if(decoration.Decorations.Count > 0){
        <div class="mt-20">
          <h1 class="font-[KonnectBold] text-[#A09898] text-4xl">@decoration.Name</h1>
        </div>
        <div class="flex">
          @foreach(var item in decoration.Decorations){
          <div class="w-52 h-60 flex-col mr-16 mb-10 rounded">
            <div class="Image w-full h-3/4 flex rounded">
              <div class="Text flex flex-col justify-end ml-2 mb-2">
                <p class="z-10 font-[KonnectBold] text-white">R$ @item.Price</p>
                <p class="z-10 font-[KonnectBold] text-white">@item.Color</p>
              </div>
            </div>
            <a href="/Clients/decorations/Description/@item.Id">
              <button class="w-full mt-5 h-10 bg-[#484343] font-[Inter] font-bold text-white rounded-xl">Detalhes</button>
            </a>
          </div>
          }
        </div>
      }
      }
    </div>
  </div>
</section>
