@page
@model IndexModel
@{
ViewData["title"] = "Carteira";
Layout = "_ThirdPartyLayout";
}

<div class="pt-[5%] pl-[10%]">
  <div class="w-fit">
    <h1 class="font-[KonnectBold] text-[#848484] uppercase text-4xl xl:text-5xl 2xl:text-6xl">
      Carteira
      <hr class="rounded-[30px] border-[5px] border-[#BB00C7]">
    </h1>
  </div>
  <p class="font-[Inter] text-[#848484] text-lg xl:text-xl 2xl:text-2xl mt-[1%]">
    Visualize sua receita e analise suas vendas
  </p>
</div>
<div class="flex flex-col w-full h-[78%] pt-10 items-center">
  <div class="flex w-full h-3/5 justify-evenly">
    <div class="flex flex-col text-white bg-[#BB00C7] rounded-3xl h-full w-2/5">
      <div class="flex flex-wrap h-fit justify-between items-center px-7 py-3">
        <h2 class="text-md xl:text-lg 2xl:text-xl font-[Inter] font-bold">
          Vendas realizadas
        </h2>
        <div class="relative inline-block text-left ml-2">
          <button
            class="inline-flex justify-center items-center w-full rounded-xl border-2 border-solid border-white text-sm xl:text-md 2xl:text-lg font-[Inter] px-5 py-2"
            id="options-menu" aria-haspopup="true" aria-expanded="true">
            Selecione o mês
            <svg class="ml-3 w-3" width="23" height="15" viewBox="0 0 23 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5 15L0.674683 0H22.3253L11.5 15Z" fill="white" />
            </svg>
          </button>
        </div>
      </div>
      <h1 class="font-bold font-[Inter] mt-[15%] self-center text-4xl xl:text-5xl 2xl:text-6xl">
        1234
      </h1>
    </div>
    <div class="flex flex-col text-white bg-[#BB00C7] rounded-3xl h-full w-2/5">
      <div class="flex flex-wrap h-fit justify-between items-center px-7 py-3">
        <h2 class="text-md xl:text-lg 2xl:text-xl font-[Inter] font-bold">
          Produtos vendidos
        </h2>
        <div class="justify-self-end">
          <div class="relative inline-block text-left ml-2">
            <button
              class="inline-flex justify-center items-center w-full rounded-xl border-2 border-solid border-white text-sm xl:text-md 2xl:text-lg font-[Inter] px-5 py-2"
              id="options-menu" aria-haspopup="true" aria-expanded="true">
              Selecione o mês
              <svg class="ml-3 w-3" width="23" height="15" viewBox="0 0 23 15" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 15L0.674683 0H22.3253L11.5 15Z" fill="white" />
              </svg>
            </button>
            <div class="hidden origin-top-right absolute right-2 w-56 rounded-md shadow-lg bg-white" role="menu"
              aria-orientation="vertical" aria-labelledby="options-menu">
              <div class="py-1" role="none">
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 1</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 2</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 3</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="font-bold font-[Inter] mt-[15%] self-center text-4xl xl:text-5xl 2xl:text-6xl">
        4321
      </h1>
    </div>
  </div>
  <div class="flex flex-wrap flex-col text-white bg-[#BB00C7] rounded-3xl h-3/5 w-[87%] mt-5">
    <div class="flex h-fit items-center px-7 py-3">
      <h2 class="text-md xl:text-lg 2xl:text-xl font-[Inter] font-bold">
        Receita
      </h2>
      <div class="w-full justify-end flex">
        <div>
          <div class="relative inline-block text-left ml-2">
            <button
              class="inline-flex justify-center items-center w-full rounded-xl border-2 border-solid border-white text-sm xl:text-md 2xl:text-lg font-[Inter] px-5 py-2"
              id="options-menu" aria-haspopup="true" aria-expanded="true">
              Selecione a festa
              <svg class="ml-3 w-3" width="23" height="15" viewBox="0 0 23 15" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 15L0.674683 0H22.3253L11.5 15Z" fill="white" />
              </svg>
            </button>
            <div class="hidden origin-top-right absolute right-2 w-56 rounded-md shadow-lg bg-white" role="menu"
              aria-orientation="vertical" aria-labelledby="options-menu">
              <div class="py-1" role="none">
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 1</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 2</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 3</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="relative inline-block text-left ml-2">
            <button
              class="inline-flex justify-center items-center w-full rounded-xl border-2 border-solid border-white text-sm xl:text-md 2xl:text-lg font-[Inter] px-5 py-2"
              id="options-menu" aria-haspopup="true" aria-expanded="true">
              Selecione o pedido
              <svg class="ml-3 w-3" width="23" height="15" viewBox="0 0 23 15" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 15L0.674683 0H22.3253L11.5 15Z" fill="white" />
              </svg>
            </button>
            <div class="hidden origin-top-right absolute right-2 w-56 rounded-md shadow-lg bg-white" role="menu"
              aria-orientation="vertical" aria-labelledby="options-menu">
              <div class="py-1" role="none">
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 1</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 2</a>
                <a href="#" class="block px-4 py-2 text-sm text-[#848484] hover:bg-[#BB00C7] hover:text-white"
                  role="menuitem">Item 3</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="font-bold font-[Inter] mt-[5%] self-center text-4xl xl:text-5xl 2xl:text-6xl">
      1234
    </h1>
  </div>
</div>
