footer{
    background-color: #FFFFFF;

    padding: 0%;
    margin: 0%;

    display: flex;
    height: 45vh;
    width: 100%;
}

#footerImgCol1{
    height: 100%;
    display: flex;
}

#footerImgCol2{
    height: 100%;
    display: flex;
}

#legalRights{
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    justify-content: center;
}

#footerTitle{
    width: 20vw;
    
    font-family: 'Midnew', sans-serif;
    font-size: 2.5vw;

    background: linear-gradient(90deg, #7D3098, #EF5781, #FBD54A);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    text-transform: uppercase;
}

#footerLogo{
    height: 13vh;
    width: auto;
    display:flex;
    padding-right: 0.5vw;
}

#footerImgLogos{
    margin-bottom: 2vh;
}


#footerRow{
    display: flex;

    line-height: 3vh;
}

#footerCol1{
    padding-left: 6vw;    
}

#footerCol2{
    padding-left: 4vw;    
}

#footerCol3{
    padding-left: 4vw;    
}

#legalRights{
    align-items: center;
    display: flex;

    padding-top: 4%;
}

#footerContainer{
    width: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #9F9B9B;
}

#crLine{
    width: 70%;
    
    border: 0.5px solid #E5E5E5;

    margin-bottom: 0.2vh;
    margin-top: 0%;
}

#crText{
    margin-bottom: 0.8vh;
}

.footer{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer a{
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #9F9B9B;
    
    font-size: 1.2vw;
}

footer h4{
    font-family: KonnectBold;
    color: #7E7979;
    
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.imgButton{
    background: none;
    border: none;
}
