<footer>
    <img id="footerImgCol1" src="img/footer/footer1.png">
    <div id="footerContainer">
        <div class="footer">
            <img id="footerLogo" src="img/OnePage/footer/logo.png">
            <a href="#Home"><h2 id="footerTitle">Organizarty</h2></a>
            <div id="footerRow">
                <div id="footerCol1">
                    <h4 class="footerColTitle">Nossos eventos</h4>
                    <p><a href="#boyOrGirl">Chá de bebê</a></p>
                    <p><a href="#marriage">Casamento</a></p>
                    <p><a href="#debutante">Debutante</a></p>
                    <p><a href="#happyHour">Happy Hour</a></p>
                    <p><a href="#aniversario">Aniversário</a></p>
                </div>
                <div id="footerCol2">
                    <h4 class="footerColTitle">Sobre nós</h4>
                    <p><a href="#about">Conheça a Organizarty</a></p>
                    <p><a href="#about">Entenda como funciona</a></p>
                </div>
                <div id="footerCol3">
                    <h4 class="footerColTitle">Serviços</h4>
                    <p><a href="#Home">Tercerize seus produtos</a></p>
                    <p><a href="#Home">Crie suas festas</a></p>
                </div>
            </div>
        </div>
        <div id="legalRights">
            <h4 class="footerColTitle">Siga-nos</h4>
            <div id="footerImgLogos">
                <a href="https://www.instagram.com/"><button class="imgButton"><img src="img/footer/logoInsta.png"></button></a>
                <a href="https://www.linkedin.com/"><button class="imgButton"><img src="img/footer/logoLinkedIn.png"></button></a>
                <a href="https://mail.google.com/"><button class="imgButton"><img src="img/footer/logoEmail.png"></button></a>
            </div>
            <hr id="crLine">
            <p id="crText">© Copyright 2023 - Todos os direitos reservados | Organizaty</p>
        </div>
    </div>
    <img id="footerImgCol2" src="img/footer/footer2.png">
</footer>