@using Organizarty.Application.App.Users.Entities;

@if(User is null){
  <a href="/account/users/login">Login</a>
  <a href="/account/users/register">Register</a>
} else {
  <a href="/account/users/register">salve</a>
}

@code {
  private User? User;
}
