@inherits LayoutComponentBase

<PageTitle>Organizarty.UI</PageTitle>

<div>
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
