body, html {
    height:100%;
    scroll-behavior: smooth;
}

section{
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow-x: hidden;
}

  #inicial{
    background-image: url(../img/Inicial/Gradiente\ pq\ n\ da\ pra\ pegar\ a\ imagem\ do\ debaixo.png); 
  }


.navbar{
    display: flex;
    margin-right: 4vh;   
}

#navbar{
    /*Estilo*/
    font-family: Konnect;
    list-style: none;

    /*Tamanho*/
    width: 100%;

    /*Alinhamento*/
    display: flex;
    justify-items: center;
    margin-right: 22vw;
    display:flex;
    justify-content: center;
    position: fixed;
    margin-top: 4vh;
    z-index: 6;
}   

.itens{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--cinza);

    border-radius: 70px;
}

.itens #home{
    
}

.itens:hover{
    transition: all 0.8s;  
    border: solid var(--cinza2) 1px;

}

[data-changeColor]{
    transition: 0.4s;
}

[data-changeColor="white"]{
    color: var(--cinza);
}

[data-changeColor].animate{
    color: var(--branco);
}

[data-changeColor].animate:hover{
    color: var(--rosa);
    border: solid var(--rosa) 1px;
    background-color: #FFF;
}

[data-changeColor].animate2{
    color: var(--cinza);
}

[data-changeColor].animate2:hover{
    color: var(--cinza);
    border: solid var(--cinza) 1px;
    background-color: #FFF;
}

 .container{
    display: flex;
    justify-content: space-between;
 }

.mascote{
    width: 50vw; 
    margin-left: 8vw;
    display: flex;
    align-items: flex-end;
}

#mascote{
    width:100%;
}

.start{
    text-align: right;
    margin-right: 7vw;
    font-size: 1.57vw;
    font-family: Konnect;
    color: var(--cinza2)
}

.txtStart{
    font-family: KonnectBold;
    font-size: 6.5vw;
    margin-top: 20vh;
    background: conic-gradient(from 81.92deg at 50% 50%, #FBD54A -28.12deg, #98308C 22.5deg, #EF5781 172.5deg, #FBD54A 331.88deg, #98308C 382.5deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btnStart{
    width: 15vw;
    height: 8vh;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: var(--transparente);
    border: var(--cinza3) solid 2px; 
    color: var(--cinza3);
    font-size: 2vw;
    font-family: Inter;
    font-weight: light;
}

.btnStart:hover{
    background: conic-gradient(from 81.92deg at 50% 50%, #FBD54A -28.12deg, #98308C 22.5deg, #EF5781 172.5deg, #FBD54A 331.88deg, #98308C 382.5deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: var(--cinza3) solid 2px; /*border: var(--cinza2) solid 2px;*/ /* <-- Não sei qual escolher*/
    transition: all 0.4s; 
    cursor:pointer;
}

::-webkit-scrollbar{
    display: none;
}
