<header id="inicial">
    <div class="navbar">  
        <a href="#inicial"><img class="logo" src="img/Inicial/Logo.png"/></a>
        <ul id="navbar">
            <li>
                <a class="itens" id="home" data-changeColor="white" href="#inicial">Home</a>
                <a class="itens" data-changeColor="white" href="#about">About</a>
                <a class="itens" id="events" data-changeColor="white" href="#Events">Events</a>
            </li>
        </ul>
    </div>
</header>
