@page "/imagem"
@using Organizarty.Adapters;
@inject IImageUpload UploadImage

<InputFile OnChange="@OnInputFileChange" />

<p>@Foi</p>

@code {
    public string Foi {get; set;} = "esperando";

   private async Task OnInputFileChange(InputFileChangeEventArgs e)
   {
        Foi = "QUE CU";
       var file = e.File;
       if (file != null)
       {
          Foi = "Ta indo";
           using var memoryStream = new MemoryStream();
           await file.OpenReadStream().CopyToAsync(memoryStream);
           var byteArray = memoryStream.ToArray();
           try{
             Foi = await UploadImage.UploadImage("avatars", "assets", byteArray);
           } catch(Exception ex){
               Foi = ex.ToString();
           }
           // Now you can use the byte array
       }
   }
}
