@page
@model IndexModel 

@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Meus produtos";
}
<partial name="_OrganizartyManagerLayout"/>
<section class="ml-auto w-5/6">
    <div class="">
        <div class="flex">
            <div class="w-1/2 w-full items-center p-10 justify-evenly">
            <p class="w-fit font-[KonnectBold] text-[#848484] text-6xl justify-self-start">FESTAS CRIADAS<hr class="rounded-[30px] border-[3.5px] border-[#FFC700] w-7/12 mb-4"></p>
            <p class="font-[Inter] text-[#848484] text-xl">Visualize e edite as festas que estão por vir!</a>
            </div>
            <div class="w-1/2 flex flex-col justify-center items-end mr-12">
                    <div class="flex items-center">
                    <input asp-for="Input.Search" class="w-80 h-12 rounded-3xl shadow-xl border-transparent bg-[#E8E8E8] form-control" aria-required="true" placeholder="Search Items"/>
                    <span asp-validation-for="Input.Search" class="placeholder"></span>
                    <button class="bg-[#757272] rounded-full w-14 h-10 ml-2"><img class="self-center w-1/2 ml-auto mr-auto" src="/images/Clients/Index/Lupa.svg"></img></button>
                    </div>
                <div class="relative w-2/3 flex items-end justify-end inline-block text-left mt-4 ml-2">
                    <button class="inline-flex justify-center items-center w-fit rounded-xl bg-[#FFC700] text-xl font-bold font-[Inter] text-white px-5 py-2" id="options-menu" aria-haspopup="true" aria-expanded="true">
                        <p class="text-sm">Selecione o Status</p>
                        <svg class="ml-3 w-3" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 15L0.674683 0H22.3253L11.5 15Z" fill="white"/>
                        </svg> 
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-20 flex">
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
    </div>
    <div class="ml-20 flex">
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
    </div>
    <div class="ml-20 flex">
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
        <partial name="_YourParties"/>
    </div>
</section>
