
@page
@model IndexModel 
@{
    Layout = "_NullLayout";
    ViewData["Title"] = "Descrição do Produto";
}

<section class="w-screen h-screen">
    <div class="w-full h-full flex">
        <div class="w-1/3 flex flex-col ml-32 justify-center">
            <img src="/images/Manager/Decorations/Balao1.png" class="rounded-3xl w-fit h-fit border-solid border-2 border-[#FFC700] self-center">
            <div class="flex ml-14 mt-4">
                <div class="mr-5 flex flex-col">
                    <img src="/images/Manager/Decorations/Balao1.png" class="h-20 border-solid border-2 border-[#FFC700] rounded-xl">
                    <hr class="bordaAmarela rounded-full mt-2">
                </div>
                <img src="/images/Manager/Decorations/Balao2.png" class="h-20 border-solid border-2 border-[#FFC700] rounded-xl mr-5">
                <img src="/images/Manager/Decorations/Balao3.png" class="h-20 border-solid border-2 border-[#FFC700] rounded-xl mr-5">
            </div>
        </div>

        <div class="w-2/3 flex flex-col mb-10 ml-10">
            <div class="w-full flex justify-end">
                <a href="/Manager/Decorations"><button><img class="w-12 mr-6 mt-6" src="/images/Manager/Decorations/XisAmarelo.svg"/></button></a>
            </div>
            <div class="w-fit self-start mt-20">
                <h1 class="font-[KonnectBold] text-[#FFC700] text-5xl xl:text-6xl 2xl:text-7xl">Balão Pequeno de Ar</h1>
                <p class="text-[#848484] font-[Konnect] text-lg xl:text-xl 2xl:text-2xl">Balão</p>
            </div>
            <div class="mt-4 font-[Konnect] text-[#848484] text-2xl xl:text-3xl 2xl:text-4xl">
                R$ 15,00
                <hr class="rounded-[30px] border-[5px] border-[#FFC700] w-1/4">
            </div>
            <div class="flex flex-col font-[Inter] text-[#848484] text-lg xl:text-xl 2xl:text-2xl">
                <p class="mt-5">Um balão de ar azul popular em chás de bebê e na festa que você desejar</p>
                <p class="mt-5"><span class="font-bold">Cor:</span> Azul</p>
                <p class="mt-5"><span class="font-bold">Status do Produto:</span> Disponivel</p>
                <p class="mt-5"><span class="font-bold">Material</span> Látex</p>
            </div>
            <div class="flex text-[#FFC700] mt-10 text-xl xl:text-2xl 2xl:text-3xl">
                <button class="border-2 border-[#FFC700] border-solid rounded-lg px-5 py-2 mr-10">Alterar</button>
                <button class="border-2 border-[#FFC700] border-solid rounded-lg px-5 py-2">Excluir</button>
            </div>
        </div>
    </div>
</section>