@page
@model IndexModel
@{
    ViewData["title"] = "Pedidos";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyManagerLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col">
    <div class="pt-[5%] pl-[10%]">
        <div class="w-fit">
            <h1 class="font-[KonnectBold] text-[#848484] uppercase text-5xl xl:text-6xl 2xl:text-7xl">
                Meus pedidos
                <hr class="rounded-[30px] border-[5px] border-[#FFC700] w-2/3">
            </h1>
        </div>
        <p class="w-11/12 font-[Inter] text-[#848484] text-xl xl:text-2xl 2xl:text-3xl mt-[1%]">
            Os clientes estão ansiosos para festejar! Confirme os pedidos para tornar esse dia possível. 
        </p>
    </div>
    <div class="flex w-full justify-evenly font-[Inter] mt-10">
        <div class="absolute mr-[36%]">
            <svg width="304" height="97" viewBox="0 0 304 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.910156" y="48.5684" width="302.198" height="47.7013" rx="10" fill="#C6C6C6"/>
                <ellipse cx="151.503" cy="42.9312" rx="49.8626" ry="42.9312" fill="#C6C6C6"/>
            </svg>
        </div>
        <div class="absolute ml-[36%]">
            <svg width="304" height="97" viewBox="0 0 304 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.910156" y="48.5684" width="302.198" height="47.7013" rx="10" fill="#C6C6C6"/>
                <ellipse cx="151.503" cy="42.9312" rx="49.8626" ry="42.9312" fill="#C6C6C6"/>
            </svg>
        </div>
        <div class="prancheta flex flex-col border-4 border-solid border-[#C6C6C6] hover:border-[#FFC700] text-[#424242] rounded-lg justify-center px-10 pt-5 mt-[4rem] mb-5 w-[30%]">
            <h3 class="font-bold text-xl xl:text-1xl 2xl:text-3xl mt-10 self-center">Cód da Festa</h3>
            <hr class="rounded-[30px] border-4 border-[#FFC700] my-3">
            <a href="/Manager/Requests" class="h-1/3 w-full flex justify-center">
                <div class="w-full h-full border-[3px] border-solid border-[#C6C6C6] rounded-lg mt-2"></div>
            </a>
            <h2 class="font-bold text-sm xl:text-md 2xl:text-lg pt-8">
                Nome da festa
            </h2>
            <p class="text-xs">
                Tema / Categoria
            </p>
            <p class="text-xs">
                Data do Evento: 00/00/0000
            </p>
            <hr class="rounded-[30px] border-4 border-[#FFC700] my-5">
            <div class="flex items-center mt-3">
                <input type="checkbox" class="rounded-sm border-[#C6C6C6] border-1" id="checkbox1" />
                <label for="checkbox1" class="text-md xl:text-lg 2xl:text-xl ml-2">
                    Item 1 
                </label>
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="rounded-sm border-[#C6C6C6] border-1" id="checkbox2" />
                <label for="checkbox2" class="text-md xl:text-lg 2xl:text-xl ml-2">
                    Item 2 
                </label>
            </div>
        </div>
        <div class="prancheta flex flex-col border-4 border-solid border-[#C6C6C6] hover:border-[#FFC700] text-[#424242] rounded-lg justify-center pt-5 px-10 mt-[4rem] mb-5 w-[30%]">
            <h3 class="font-bold text-xl xl:text-2xl 2xl:text-3xl mt-10 self-center">#0895</h3>
            <hr class="rounded-[30px] border-4 border-[#FFC700] my-3">
            <a href="/Manager/Requests" class="h-1/3 w-full flex justify-center">
                <div class="w-full h-full bg-gradient-to-b from-[#7D3098] via-[#EF5781] to-[#FBD54A] rounded-lg mt-2 flex justify-center">
                    <img src="/images/Manager/Requests/Bolo.png" class="h-full">
                </div>
            </a>
            <h2 class="font-bold text-sm xl:text-md 2xl:text-lg pt-8">
                Aniversário do Lelê
            </h2>
            <p class="text-xs">
                Aniversário
            </p>
            <p class="text-xs">
                Data do Evento: 08/11/2023 
            </p>
            <hr class="rounded-[30px] border-4 border-[#FFC700] my-5">
            <div class="flex items-center mt-3">
                <input type="checkbox" class="rounded-sm border-[#C6C6C6] border-1" id="checkbox1" />
                <label for="checkbox1" class="text-md xl:text-lg 2xl:text-xl ml-2">
                    Decoração 
                </label>
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="rounded-sm border-[#C6C6C6] border-1" id="checkbox2" />
                <label for="checkbox2" class="text-md xl:text-lg 2xl:text-xl ml-2">
                    Utensílios
                </label>
            </div>
        </div>
    </div>
</section>