@page
@model IndexModel
@{
    ViewData["title"] = "Novos Terceirizados";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyManagerLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col">
    <div class="pt-[2.5%] pl-[5%] fixed top-0 bg-white z-40 w-full">
        <div class="w-fit">
            <h1 class="font-[KonnectBold] text-[#848484] uppercase text-5xl xl:text-6xl 2xl:text-7xl">
                Novos colaboradores
                <hr class="rounded-[30px] border-[5px] border-[#FFC700] w-2/5">
            </h1>
        </div>
        <p class="w-11/12 font-[Inter] text-[#848484] text-xl xl:text-2xl 2xl:text-3xl mt-[1%] pb-2">
            Conheça os novos colaboradores!
        </p>
    </div>
    <div class="flex flex-col mt-56">
        <div class="flex justify-around">
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">idth
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
        </div>
        <div class="flex justify-around mt-5">
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
        </div>
        <div class="flex justify-around mt-5">
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
            <div class="flex flex-col justify-center border-[5px] border-solid border-[#C6C6C6] rounded-2xl w-2/5">
                <div class="flex justify-around py-5">
                    <img src="/images/Manager/ThirdParties/Logo.png" class="h-full w-2/5">
                    <div class="flex flex-col h-full w-2/5 font-[Inter]">
                        <h2 class="font-bold text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl">
                            Username:
                        </h2>
                        <p class="text-[#424242]">
                            Borcelle confeitaria
                        </p>
                        <div class="border-[3px] border-solid border-[#FFC700] rounded-xl h-4/5 w-full p-2 mt-2">
                            <h2 class="text-[#C6C6C6] text-md xl:text-lg 2xl:text-xl font-[KonnectBold]">
                                Descrição:
                            </h2>
                            <p class="text-[#424242] font-[Konnect] words-break text-xs xl:text-sm 2xl:text-md">
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/Manager/ThirdPartyInfo" class="self-center">
                    <svg width="86" height="42" viewBox="0 0 86 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="self-center">
                        <path d="M5 5L43.5 35.5L81 5" stroke="#C6C6C6" stroke-width="10" stroke-linecap="round"/>
                    </svg>
                </a>
                <div class="flex justify-around p-3 w-full mt-3 text-white font-[KonnectBold]">
                    <button class="bg-[#2AD861] px-20 py-2 rounded-2xl">Aceitar</button>
                    <button class="bg-[#E05252] px-20 py-2 rounded-2xl">Recusar</button>
                </div>
            </div>
        </div>
    </div>
</section>