@page
@model RequestsManagerModel
@using Organizarty.UI.Blazor.Components.Orders.Tr;

@{
    ViewData["title"] = "Pedidos";
    Layout = "_NullLayout";
}

<base href="~/" />

<partial name="_OrganizartyManagerLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col">
      <component type="typeof(ManagerOrdersTable)" render-mode="ServerPrerendered" param-Orders="@Model.Orders" />
</section>
