@using Organizarty.Application.App.Decorations.Entities

    <a href="/Clients/Decorations/Dashboard/Edit/" class="border-4 border-solid border-[#C6C6C6] rounded-xl p-2 h-[9.5rem] w-[9.5rem]">
        <img src="/images/Clients/Dashboard/IconBalao.svg">
    </a>

@code{
}