@page
@model IndexModel
@using Organizarty.UI.Blazor.Components.Products;

@{
Layout = "_ThirdPartyLayout";
ViewData["Title"] = "Meus produtos";
}

<div class="mt-4" >
  <div class="flex justify-start items-center w-fit h-28">
    <img class="items-center w-24 " src="/images/Clients/Description/BakeryLogo.png"></img>
    <div class="ml-4">
      <h1 class="text-[#BB00C7] font-[Inter] text-3xl"><strong>@Model.ThirdParty.Name</strong></h1>
      <p class="text-[#848484] font-[Inter] text-xs">@Model.ThirdParty.Address</p>
    </div>
  </div>
</div>

<div class="">
  <h2 class="font-[Inter] font-bold text-[#848484] text-2xl mt-10 ">Seus Produtos</h2>
</div>

<div class="flex w-full p-2 overflow-x-auto mt-4 gap-x-4">
  <div class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
  <a href="/ThirdParty/products/new/bolo" class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
    <button
      class="flex menuButtons rounded-full w-28 h-28  bg-[#424242]"><img class="w-14 self-center ml-auto
mr-auto" src="/images/ThirdParty/MyProducts/Bolo.svg"></img></button>
    <h4 class="text-sm">Bolos</h4>
  </a>
  </div>
  <div class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
  <a href="/ThirdParty/products/new/doce" class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
    <button
      class="flex menuButtons rounded-full w-28 h-28 bg-[#848484] hover:bg-[#424242]"><img
        class="w-14 self-center ml-auto mr-auto" src="/images/ThirdParty/MyProducts/Brigadeiro.svg"></img></button>
    <h4 class="text-sm">Doces</h4>
  </a>
  </div>
  <div class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">

  <a href="/ThirdParty/products/new/salgado" class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
    <button
      class="flex menuButtons rounded-full w-28 h-28 bg-[#848484] hover:bg-[#424242]"><img
        class="w-20 self-center ml-auto mr-auto" src="/images/ThirdParty/MyProducts/Croisant.svg"></img></button>
    <h4 class="text-sm">Salgados</h4>
  </a>
  </div>
  <a href="/ThirdParty/products/new/sla" class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D]">
    <button class="flex menuButtons rounded-full w-28 h-28  hover:bg-[#D9D9D9]"><img
        class="w-10 self-center ml-auto mr-auto" src="/images/ThirdParty/MyProducts/cruz.png"></img></button>
    <h4 class="text-sm">Adicionar</h4>
  </a>
</div>

@foreach(var food in Model.Foods){
<div class="w-full">
  <div class="mt-6">
    <h1 class="flex font-[KonnectBold] text-[#A09898] text-4xl mb-2">@food.Name <img class="w-8 h-8" src="/images/icons/mais.png"/> <a
        href="/ThirdParty/Products/Edit/@food.Id">Edit</a></h1>
  </div>
  <div class="w-full overflow-x-auto flex">
    @foreach (var item in food.Foods){
    <component type="typeof(ThirdPartyProductCard)" render-mode="ServerPrerendered" param-Food="@item" />
    }
  </div>
</div>
}
