@page
@model NewProductsModel

@{
    ViewData["Title"] = "New Product";
    Layout = "_NullLayout";
}

<section id="Index" class="flex h-screen bg-[#BB00C7]">
  <div class="part1 w-full h-screen py-8 flex-col flex items-start">
  <a href="/ThirdParty/Products"><img src="/images/ThirdParty/NewProducts/Setinha.png" class="ml-12 w-12"></a>
    <div class="flex flex-col items-center w-full h-full">
      <div class="LoginForm flex justify-center py-8 text-center w-5/12 h-full rounded-2xl formulario drop-shadow-2xl z-20">
        <form id="login" method="post" class="w-full">
          <h2 class="text-white font-bold font-[Inter] text-4xl uppercase">Novo Produto</h2>
          @* <div class="line pb-8 flex justify-center rounded-full"></div> *@
          <div class="h-full flex flex-col items-center justify-evenly font-[Inter]">
              <div class="flex items-center gap-x-2">
                  <img src="/images/ThirdParty/NewProducts/bolo.png" class="w-8">
                  <p class="uppercase text-white font-[Inter]">Bolos</p>
              </div>
            <!-- Name -->
            <input asp-for="Input.Name" class="font-[Inter] w-2/3 h-14 rounded-xl shadow-xl placeholder form-control"
              aria-required="true" placeholder="Nome do produto" />
            <span asp-validation-for="Input.Name" class="placeholder"></span>

            <!-- Description -->
            <textarea style="resize:none" asp-for="Input.Description" class="font-[Inter] w-2/3 h-48 rounded-xl shadow-xl placeholder form-control"
              aria-required="true" placeholder="Descrição do produto"></textarea>
            <span asp-validation-for="Input.Description" class="placeholder"></span>

            <!-- Category -->
            <input asp-for="Input.Category" class="font-[Inter] w-2/3 h-14 rounded-xl shadow-xl placeholder form-control"
              aria-required="true" placeholder="Suas tags" />
            <span asp-validation-for="Input.Category" class="placeholder"></span>
            <div class="w-full flex justify-end">
              <button id="login-submit" type="submit" class="mr-16 mb-8 logar bg-[#7D3098] hover:bg-[white] hover:text-[#7D3098] text-white font-bold font-[Inter] w-48 h-14 rounded-xl hover:shadow-2xl">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

