@page "{foodId:Guid}"
@model NewFoodSubitemModel

@{
    ViewData["Title"] = "New Service";
}

<section class="flex h-screen">
  <div class="part1 w-full h-screen py-8 flex-col">
    <div class="flex justify-center">
      <img class="w-32" src="/images/login/OrganizartyLogo.svg" />
    </div>
    <div class="LoginForm flex justify-center py-8 text-center">
      <form id="login" method="post" class="w-full">
        <h2>Register</h2>
        @* <div class="line pb-8 flex justify-center rounded-full"></div> *@
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="h-full flex flex-col items-center justify-evenly">
          <!-- Flavour -->
          @Html.DisplayNameFor(m => m.Input.Flavour)
          <input asp-for="Input.Flavour" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control"
            aria-required="true" placeholder="Flavour" />
          <span asp-validation-for="Input.Flavour" class="placeholder"></span>

          <!-- Price -->
          @Html.DisplayNameFor(m => m.Input.Price)
          <input asp-for="Input.Price" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control"
            aria-required="true" placeholder="Preço" />
          <span asp-validation-for="Input.Price" class="placeholder"></span>

          <!-- IsAvaible -->
          @Html.DisplayNameFor(m => m.Input.IsAvaible)
          <input asp-for="Input.IsAvaible" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control"
            aria-required="true" placeholder="Disponibildiade" />
          <span asp-validation-for="Input.IsAvaible" class="placeholder"></span>

          <!-- ImgURL -->
          @Html.DisplayNameFor(m => m.Input.ImgURL)
          <input asp-for="Input.ImgURL" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control"
            aria-required="true" placeholder="URL da imagem" />
          <span asp-validation-for="Input.ImgURL" class="placeholder"></span>
        </div>
        <div class="flex w-full place-content-evenly py-14">
          <button id="login-submit" type="submit" class="logar w-48 h-14 rounded-xl hover:shadow-2xl">Criar
            conta</button>
        </div>
      </form>
    </div>
  </div>
</section>
