<section id="about">
    <div class="conteudo">
        <div class="container2">
            <div id="sobreNos">
                <p>ABOUT US</p>
            </div>
            <div id="titulo">
                <p>Trabalhando juntos para <br> criar o melhor para você</p>
            </div>
            <div id="texto">
                <p>
                    Nossas atividades começaram com o intuito de tornar a criação dos eventos de nossos 
                    usuários mais fácil, interessante e divertida. <br> <br>Você pode ser um usuário comum 
                    e criar suas festas da forma que desejar ou ser um terceirizado que vai colaborar com a 
                    venda de seus produtos para as festas do usuário se tornando parte da família Zart. Seja 
                    bem-vindo.
                </p>
            </div>
        </div>
    </div>
</section>