<section>
    <a href="#inicial">
    <img class="logo" src="img/OnePage/Inicial/Logo.png"/></a>

    <div class="container">
        <div class="image">
          <img class="mascote" src="img/OnePage/Inicial/MacaquinhoMascote.png"/>
        </div>

        <div class="text">
            <div>
              <h2 class="txtStart">START YOUR <br> PARTY</h2>
              <p>A arte de criar suas festas</p>
              <button class="btnStart" type="button" href="/accounts/login">START</button>
            </div>
        </div>
    </div>
</section> 
