section{
  width: 100%;
  height: 100vh;
  display: flex;

  /* background-color: yellow; */
  background-image: url(img/OnePage/Inicial/landpage-gradient.png);
}

.logo{
  width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
}



.container{
  display: flex;
  width: 100%;
  height: 100%;
  /* background: blue; */
  align-items: self-end;
}

/* .image, .text { */
/*   height: 100%; */
/*   width: 50%; */
/*   display: flex; */
/*   align-items: self-end; */
/* } */

.image{
  /* background: red; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: self-end;
}

.mascote{
  width: 80%; 
  margin-left: 100px;
}

.text{
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.text div{
  background: brown;
  justify-self: center;
  align-items: center;
}
