<section class="servicesSection">
    <div class="servicesContainer">
        <div class="servicesTitle">
            <h3>Serviços</h3>
            <h1>Experiência Organizarty</h1>
        </div>
        <div class="servicesItems">
            <div class="servicesFirstRow">
                <div class="servicesCol">
                    <div class="servicesRowTitle">
                        <img src="img/OnePage/services/iconEdit.png">
                        <h3>Customização</h3>
                    </div>
                    <p>O usuário pode escolher cada etapa de seu evento o tornando do jeito que desejar.</p>
                </div>
                <div class="servicesCol">
                    <div class="servicesRowTitle">
                        <img src="img/OnePage/services/iconAttendence.png">
                        <h3>Acompanhamento</h3>
                    </div>
                    <p>Existe todo um tempo de preparo para sua festa em que os detalhes vão estar sendo acertados.</p>
                </div>
            </div>
            <div class="servicesSecondRow">
                <div class="servicesCol">
                    <div class="servicesRowTitle">
                        <img src="img/OnePage/services/iconBuild.png">
                        <h3>Montagem</h3>
                    </div>
                    <p>Quando o espaço e detalhes estiverem confirmados nossa equipe Zart te ajuda a montar.</p>
                </div> 
                <div class="servicesCol">
                    <div class="servicesRowTitle">
                        <img src="img/OnePage/services/iconParty.png">
                        <h3>Festa pronta</h3>
                    </div>
                    <p>Você vai poder curtir a sua festa da melhor forma, a maneira que a escolheu, ou até melhor.</p>
                </div>
            </div>
        </div>
    </div>
</section>