@page
@model LoginModel
@{
  Layout = "_NullLayout";
  ViewData["Title"] = "Login" ;
}
<section class="flex h-screen">
    <div class="w-5/12 h-screen py-8 flex-col">
        <div class="flex justify-center">
            <img class="w-32" src="/images/login/OrganizartyLogo.svg"/> 
        </div>
        <div class="LoginForm flex justify-center items-center text-center">
            <form id="login" method="post" >
                <h2>LOGIN</h2>
                <hr />
                    <div asp-validation-summary="ModelOnly" class=""></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class=" placeholder form-control" aria-required="true" placeholder="Digite seu email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Digite sua senha" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
                        </div>
            </form>
        </div>
    </div>
    <div class="part2 w-7/12 h-screen">
        <img class="w-full h-full" src="/images/login/Vitrine.svg">  
    </div>
</section>