@page
@model LoginModel
@{
  Layout = "_NullLayout";
  ViewData["Title"] = "Login" ;
}
<section class="flex h-screen">
    <div class="part1 w-5/12 h-screen py-8 flex-col">
        <div class="flex justify-center">
            <img class="w-32" src="/images/login/OrganizartyLogo.svg"/> 
        </div>
        <div class="LoginForm flex justify-center py-8 text-center">
            <form id="login" method="post" class="w-full">
                <h2>LOGIN</h2>
                   @*  <div class="line pb-8 flex justify-center rounded-full"></div> *@
                        <div asp-validation-summary="ModelOnly" class=""></div>
                        <div class="h-48 flex flex-col items-center justify-evenly">
                                <!-- Email -->
                                    <input asp-for="Input.Email" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control" aria-required="true" placeholder="Digite seu email"/>
                                    <span asp-validation-for="Input.Email" class="placeholder"></span>
                                <!-- Password -->
                                    <input asp-for="Input.Password" class="w-9/12 h-14 rounded-xl shadow-xl placeholder form-control" autocomplete="current-password" aria-required="true" placeholder="Digite sua senha" type="password"/>
                                    <span asp-validation-for="Input.Password" class="placeholder"></span>
                            </div>
                            <div class="flex w-full place-content-evenly py-14">
                                <a href="Register.cshtml"><button id="login-submit" type="submit" class="logar w-48 h-14 rounded-xl hover:shadow-2xl">SIGN IN</button></a>
                                <button id="login-submit" type="submit" class="registrar w-48 font-bold rounded-xl hover:shadow-2xl">CRIAR CONTA</button>
                            </div>
            </form>
        </div>
    </div>
    <div class="part2 w-7/12 h-screen">
        <img class="w-full h-full" src="/images/login/Vitrine.svg">  
    </div>
</section>