/* div{
  border: red solid 1px;
}
 */
.part2{
  /* Bota na div pra ficar no tailwind em html */
  background-color: #2E2C2C;
/*   background-image: url("/images/login/Vitrine.svg");
  background-size: cover; */
}

h2{
  font-family: KonnectBold;
  color: #FF7F31;
}

hr{
  width: 4vw;
  color: var(--laranja);

}

.placeholder{
  font-family: Inter;
}