@page
@model LoginModel
@{
  Layout = "_NullLayout";
  ViewData["Title"] = "Organizarty" ;
}
<section class="flex h-screen">
    <div class="w-5/12 h-screen items-start py-8 flex justify-center">
        <img class="w-32" src="/images/login/OrganizartyLogo.svg"/> 
    </div>
    <div class="part2 w-7/12 h-screen">
        <img class="w-full h-full" src="/images/login/Vitrine.svg">  
    </div>
</section>