div{
  border: red solid 1px;
}

#login{
  border: black solid 1px;
}

 
 .part2{
  /* Bota na div pra ficar no tailwind em html */
  background-color: #2E2C2C;
/*   background-image: url("/images/login/Vitrine.svg");
  background-size: cover; */
}

h2{
  font-family: KonnectBold;
  color: #FF7F31;
  font-size: 7vh;
}

.line{
  width: 4vw;
  height: 15px;
  background-color: #FF7F31;
  justify-content: center;
}

.placeholder{
  font-family: Inter;
}