@page
@model LoginModel
@{
  Layout = "_NullLayout";
  ViewData["Title"] = "Organizarty" ;
}
<section class="flex h-screen">
    <div class="w-5/12 h-screen justify-center flex">
      <img class="w-50" h-auto src="/images/login/OrganizartyLogo.svg"/>  
    </div>

    <div class="section2">

    </div>
</section>