section {
    font-family: Inter;
}

.User{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(180deg, #FF008A 45.31%, #FFC700 100%);

    position: relative;

    width: 50%;

    color: #FFF;
}

.User button{
    border: 4px solid white;

    color: #FFF;
}

.ThirdParty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 50%;

    color: #848484;
}

.ThirdParty button{
    border: 4px solid #FF008A;
}

@media only screen and (max-width: 1020px){
    section{
        flex-direction: column;

        height: 100%;
    }

    .User{
        width: 100%;
    }
    
    .ThirdParty{
        width: 100%;
    }
    
    p{
        font-size: 15px;
        font-weight: normal;
    }

    h3{
        font-size: 50px;

        line-height: 60px;
    }

    img{
        width: 6em;
    }
}