@page

@{
    ViewData["title"] = "Registrar";
    Layout = "_NullLayout";
}

<section>
    <div class="User">
        <img src="/images/register/Logo1.svg" />
        <h3>Comece a criar as suas festas</h3>
        
        <p>Para aqueles que querem dar play nas melhor festa!</p>

        <button>Comece sua Festa</button>
    </div>

    <div class="ThirdParty">
        <img src="/images/register/Logo2.svg"/>
        <h3>Faça parte da equipe Zart</h3>

        <p>Para aqueles que fazem os melhores quitutes!</p>

        <button class="bg-clip-text text-transparent bg-gradient-to-b from-[#EF5781] to-[#FBD54A]">
            Comece a Vender 
        </button>
    </div>
</section>