@page

@model RegisterUserModel

@{
    ViewData["Title"] = "Register";
}

<div class="User">
    <h3>Comece a criar suas festas</h3>
</div>

<div class="ThirdParty">
    <h3>Faça parte da equipe Zarty</h3>
</div>
