section {
    display: flex;
    
    margin: 0;

    width: 100%;
    height: 100vh;
}

h3{
    font-weight: bolder; 
}

button{
    background-color: transparent;

    height: 5%;

    border-radius: 20px;
}

.User{
    background: linear-gradient(180deg, #FF008A 45.31%, #FFC700 100%);

    position: relative;

    width: 50%;
    height: 100%;

    color: #FFF;
}

.User button{
    border: 2px solid white;

    color: #FFF;
}

.ThirdParty{
    position: relative;

    width: 50%;
    height: 100%;

    color: #848484;
}