section {
    display: flex;
    
    margin: 0;

    width: 100%;
    height: 100vh;
}

h3{
    font-weight: bolder; 
}

button{
    background-color: transparent;

    height: 6%;
    width: 23%;

    border-radius: 15px;
}

img{
    width: 7em;

    margin-bottom: 15%;
}

.User{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(180deg, #FF008A 45.31%, #FFC700 100%);

    position: relative;

    width: 50%;
    height: 100%;

    color: #FFF;
}

.User button{
    border: 2px solid white;

    color: #FFF;
}

.ThirdParty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 50%;
    height: 100%;

    color: #848484;
}

.ThirdParty button{
    border: 2px solid #FF008A;
}