@page

@{
    ViewData["title"] = "Register";
}

<section>
    <div class="User">
        <img src="">
        <h3>Comece a criar as suas festas</h3>
        
        <p>Para aqueles que querem dar play nas melhor festa!</p>

        <button>Comece sua Festa</button>
    </div>

    <div class="ThirdParty">
        <img src="">
        <h3>Faça parte da equipe Zarty</h3>

        <p>Para aqueles que fazem os melhores quitutes!</p>

        <button><span>Comece a Vender</span></button>
    </div>
</section>
