@page "/"
@using Organizarty.UI.Blazor.Components

<PageTitle>Login</PageTitle>
<br /><br /><br /><br /><br /><br /><br /><br /><br />  
<h3>Login</h3>
<input type="text" id="email" placeholder="Digite seu email" />
<input type="text" id="pwd" placeholder="Digite sua senha" 