@using Organizarty.Application.App.ThirdParties.Entities;

<div class="flex justify-center items-center w-full h-28">
    <img class="items-center w-32 rounded-full" src="@ThirdParty.ProfilePictureURL" />
    <div class="ml-4">
        <h1 class="text-[#FF08AA] font-[Inter] text-3xl"><strong>@ThirdParty.Name</strong></h1>
        <p class="text-[#848484] font-[Inter] text-xs">@ThirdParty.Name</p>
    </div>
</div>

@code{
  [Parameter]
  public ThirdParty ThirdParty {get; set;} = new();
}
