@page
@{
    ViewData["Title"] = "New Service";
    Layout = "_NullLayout";
}

<section id="Index" class="flex h-screen">
    <div class="w-screen h-screen">
        <div class="w-1/2 h-screen flex flex-col items-center justify-center">
            <div class="flex flex-col gap-y-5">
                <div class="w-fit">
                    <h1 class="text-white text-5xl font-[Inter] font-bold">Adicionar novo serviço</h1>
                    <p class="text-white text-md font-[Inter]">Selecione o tipo de serviço</p>
                </div>
                <div class="flex mt-[1%] text-white"> <!-- Trocar a extensão das imagens para svg       #848484-->
                    <a href="/ThirdParty/Services/New/Fotografo" class="w-fit flex flex-col items-center font-[KonnectBold] mr-3"><button class="Button flex menuButtons rounded-full w-20 h-20 bg-[#58255B] hover:bg-[#9747FF]"><img class="w-9 self-center ml-auto mr-auto" src="/images/ThirdParty/ChooseNewServiceType/Fotografo.svg"></img></button><h4 class="text-sm">Fotógrafo</h4></a>
                    <a href="/ThirdParty/Services/New/Animador" class="w-fit flex flex-col items-center font-[KonnectBold] mr-3"><button class="Button flex menuButtons rounded-full w-20 h-20 hover:bg-[#9747FF] bg-[#58255B]"><img class="w-9 self-center ml-auto mr-auto" src="/images/ThirdParty/ChooseNewServiceType/Animador.svg"></img></button><h4 class="text-sm">Animador</h4></a>
                    <a href="/ThirdParty/Services/New/Garçom" class="w-fit flex flex-col items-center font-[KonnectBold] mr-3"><button class="Button flex menuButtons rounded-full w-20 h-20 hover:bg-[#9747FF] bg-[#58255B]"><img class="w-9 self-center ml-auto mr-auto" src="/images/ThirdParty/ChooseNewServiceType/Garçom.svg"></img></button><h4 class="text-sm">Garçom</h4></a>
                    <a href="/ThirdParty/Services/New/Segurança" class="w-fit flex flex-col items-center font-[KonnectBold] mr-3"><button class="Button flex menuButtons rounded-full w-20 h-20 hover:bg-[#9747FF] bg-[#58255B]"><img class="w-9 self-center ml-auto mr-auto" src="/images/ThirdParty/ChooseNewServiceType/Segurança.svg"></img></button><h4 class="text-sm">Segurança</h4></a>
                    <a href="/ThirdParty/Services/New/Personagem" class="w-fit flex flex-col items-center font-[KonnectBold] mr-3"><button class="Button flex menuButtons rounded-full w-20 h-20 hover:bg-[#9747FF] bg-[#58255B]"><img class="w-9 self-center ml-auto mr-auto" src="/images/ThirdParty/ChooseNewServiceType/Personagem.svg"></img></button><h4 class="text-sm">Personagem</h4></a>
                </div>
                <div class="flex w-full h-14 gap-x-5 mt-4">
                    <a href="/ThirdParty/Services/MyServices" class="inline-flex justify-center items-center bg-transparent font-[Inter] hover:drop-shadow-2xl rounded-3xl text-white h-full w-40 p-3 border border-white border-solid transition ease-in-out delay-150">
                        Cancelar 
                    </a>
                    <a><button class="bg-white hover:drop-shadow-2xl font-[Inter] rounded-3xl text-sm text-[#BB00C7] font-bold h-full w-40 p-3 border border-white border-solid transition ease-in-out">
                        Informar mais
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</section>