<div>
    <svg src="imgs/login/logo.svg" />
    <h3>Login</h3>
    <input type="text" id="email" placeholder="Digite seu email" />
    <input type="text" id="pwd" placeholder="Digite sua senha" />
</div>