<div id="Events">
    <div class="wrapper">
        <!-- Evento 1 -->
        <div id="boyOrGirl">
        <div class="principal">
            <img class="imgEvents" src="img/OnePage/BoyOrGirl/ursinho.png">
            <img id="baloes" src="img/OnePage/BoyOrGirl/baloes.png">
            <img id="bolas" src="img/OnePage/BoyOrGirl/Bolas.png">
            <h1 class="txtEvents">Boy or Girl</h1>
            </div>
                <div class="botaoPosicionado">
                <button class="botao1" type="button">Start Party</button>
            </div>
        </div>

        <!-- Evento 2 -->
        <div id="marriage">
        <div class="principal">
            <img class="imgEvents" src="img/OnePage/Wedding/Casal.png">
            <img id="petalas" src="img/OnePage/Wedding/petalas.png">
            <img id="weddingBalls" src="img/OnePage/Wedding/Bolas.png">
            <h1 class="txtEvents" >Wedding</h1>
            </div>
                <div class="botaoPosicionado">
                <button class="botao2" type="button">Start Party</button>
            </div>
        </div>

        <!-- Evento 3 -->
        <div id="debutante">
        <div class="principal">
            <img class="imgEvents" src="img/OnePage/Debutante/Debutante.png">
            <img id="estrela" src="img/OnePage/Debutante/Estrelas.png">
            <h1 class="txtEvents" >Once upon a Time</h1>
            </div>
            <div class="botaoPosicionado">
            <button class="botao3" type="button">Start Party</button>
            </div>
        </div>

        <!-- Evento 4 -->
        <div id="happyHour">
        <div class="principal">
            <img class="imgEvents" src="img/OnePage/HoraFeliz/Drink.png">
            <img id="happyBalls" src="img/OnePage/HoraFeliz/Bolas.png">
            <h1 class="txtEvents">Happy Hour</h1>
        </div>
            <div class="botaoPosicionado">
            <button class="botao4" type="button">Start Party</button>
            </div>
        </div>
        
        <!-- Evento 5* -->
        <div id="aniversario">
        <div class="principal bday">
            <img class="imgEvents" src="img/OnePage/HappyBirthday/Bolo.png">
            <img id="birthBallons" src="img/OnePage/HappyBirthday/Baloes.png">
            <h1 class="txtEvents">Happy Birthday<br> <strong>.</strong> To <strong>........</strong>You</h1>
        </div>
            <div class="botaoPosicionado">
            <button class="botao5" type="button">Start Party</button>
            </div>
        </div>
    </div>
</div>