<div style="background: @Color; border: 1px solid @Border; transition: all 1s; opacity: @Opacity;"
    @onclick="RemoveCard"
 class="flex flex-col w-64 items-start pl-4 rounded py-2 text-white z-10 cursor-pointer text-left">
    <p class="text-sm">@Titulo</p>
    <p class="text-sm">@Body</p>
</div>

@code{
    [Parameter]
    public string Body{get; set;} = "";

    [Parameter]
    public string Type{get;set;} = "info";

    public string Titulo {get {
        switch(Type){
            case("info"):
                return "Info";
                break;
            case("error"):
                return "Erro!";
                break;
            case("success"):
                return "Sucesso!";
                break;
        }

        return "";
    }}

    public int Opacity = 1;

    public void RemoveCard(){
        Opacity = 0;
        
    }

    public string Color {get {
        switch(Type){
            case("info"):
                return "blue";
                break;
            case("error"):
                return "#F53535";
                break;
            case("success"):
                return "green";
                break;
        }

        return "";
    }}

    public string Border{get{
        switch(Type){
            case("info"):
                return "blue";
                break;
            case("error"):
                return "rgb(76 5 25)";
                break;
            case("sucess"):
                return "green";
                break;
        }

        return "";
    }}
}