.CancelButton{
    border: #FFC700 solid 1px;
}

.CancelButton:hover{
    border: transparent;
    background-color:#FFC700;
    color: white;
    transition: all 0.4s;
}

.RegisterButton:hover{
    border: #FFC700 solid 1px;
    background-color:white;
    color: #FFC700;
    transition: all 0.4s;
}

.TextArea{
    border: #FFC700 solid 1px;
    border-radius: 10px;
    resize: none;
}

