@using Microsoft.JSInterop
@implements IAsyncDisposable
<button @onclick=@GetLocationAsync class="w-full flex justify-center items-center"><img src="/images/ThirdParty/Accounts/IconLocation2.svg"></button>

@if (geoCoordinates is not null)
{
    <div class="absolute right-0 top-0 w-fit">
    <iframe src="https://maps.google.com/maps?q=@geoCoordinates.Latitude,@geoCoordinates.Longitude;output=embed"></iframe>
        Latitude : @geoCoordinates.Latitude <br />
        Longitude : @geoCoordinates.Longitude<br />
        Accuracy : @geoCoordinates.Accuracy
    </div>
}

@code {
    private readonly Lazy<Task<IJSObjectReference>> moduleTask = default!;
    private readonly DotNetObjectReference<GeoLocation> dotNetObjectReference;
    private GeoCoordinates? geoCoordinates = null;

    [Inject]
    private IJSRuntime jsRuntime { get; set; } = default!;

    public GeoLocation()
    {
        moduleTask = new(() => jsRuntime!.InvokeAsync<IJSObjectReference>(
            identifier: "import",
            args: "/js/geoLocationJsInterop.js")
        .AsTask());

        dotNetObjectReference = DotNetObjectReference.Create(this);
    }

    public async Task GetLocationAsync()
    {
        var module = await moduleTask.Value;
        await module.InvokeVoidAsync(identifier: "getCurrentPosition", dotNetObjectReference);
    }

    [JSInvokable]
    public async Task OnSuccessAsync(GeoCoordinates geoCoordinates)
    {
        this.geoCoordinates = geoCoordinates;
        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        if (moduleTask.IsValueCreated)
        {
            var module = await moduleTask.Value;
            await module.DisposeAsync();
        }
    }

    public class GeoCoordinates
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public double Accuracy { get; set; }
    }
}