@using Organizarty.Application.App.Locations.Entities;

<div class="flex ml-20">
    <div class="flex flex-col mt-8">
        <div class="w-72">  <!-- Para mudar o tamanho, mudar o width desta div -->
            <div class="Image w-full h-64"> <!-- E o height desta outra -->
                <div class="bg-[#FFC700] w-fit p-1.5 ml-2 mt-2">
                    <h1 class="font-[KonnectBold] text-sm text-white">Casamento</h1>
                </div>
            </div>
        <div class="Border h-16">
            <p class="mt-2 ml-2 font-[KonnectBold] text-sm text-[#424242]">@Location.Name</p>
            <p class="ml-2 font-[Konnect] text-xs text-[#848484]">@Location.Address</p>
        </div>
        <div class="Border h-16 flex justify-between items-end">
            <h1 class="ml-2 mb-2 font-[Konnect] text-md text-[#848484]">Aluguel</h1>
            <h1 class="mt-1 self-start text-[#C6C6C6] font-[konnect] Code">Cód: @CropId(Location.Id)</h1>
            <h1 class="mr-2 mb-2 font-[KonnectBold] text-md text-[#424242]">@Location.RentPerDay.ToString("0.00")</h1>
        </div>
        <a href="">
        <div class="Hire h-12 flex font-[Konnectbold] text-[#FFC700] hover:bg-[#FFC700] hover:text-white justify-center items-center"> <h2>Disponibilidade</h2> </div></a> 
    </div>
    </div>
</div>

@code{
  [Parameter]
  public Location Location {get; set;}

  public string CropId(Guid id)
  {
    int lenght = 7;
    var str = id.ToString();

    return str.Substring(str.Length - lenght);
  }
}
