@using Organizarty.Application.App.DecorationInfos.Entities;




<div class="flex">
  <div class="w-52 h-60 flex-col mr-16 mb-10 rounded">
    <div class="Text w-full h-3/4 flex rounded">
      <img src="@ImgURL" class="Image w-52" />
    </div>
    <a href="/Manager/Decorations/EditItem/@Decoration.Id"><button
        class="w-full mt-12 h-10 bg-[#484343] font-[Inter] font-bold text-white rounded-xl">Detalhes</button></a>
  </div>
</div>

@code{
  [Parameter]
  public DecorationInfo Decoration { get; set; } = default!;

  [Parameter]
  public string ImgURL {get; set;} = "/images/ThirdParty/MyServices/Fotografia.png";
}