@page "{itemid:Guid}"
@model EditProductGroupModel
@using Organizarty.UI.Blazor.Components.Utils;
@{
Layout = "_NullLayout";
ViewData["Title"] = "Descrição da Decoração";
}

<section class="w-screen h-screen">
<div class="w-full h-full flex justify-center items-center">
  <form class="max-w-md mx-auto mt-8 flex flex-col" method="post">
    @Html.ValidationSummary(true,  "", new { @class = "text-red-600 mb-8" })
    <div class="grid md:grid-cols-2 md:gap-6">
    <fieldset>
      <legend class="font-[Konnect]">Nota</legend>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" asp-for="Item.Note" id="floating_first_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="Nota" />
          <span asp-validation-for="Item.Note" class="text-red-600"></span>
      </div>
      </fieldset>
      <fieldset>
        <legend class="font-[Konnect]">Quantidade</legend>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" asp-for="Item.Quantity" id="floating_last_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required />
          <span asp-validation-for="Item.Quantity" class="text-red-600"></span>
      </div>
      </fieldset>
    </div>
    <button type="submit"
      class="text-white bg-[#FF008A] hover:shadow-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Editar</button>
  </form>
  </div>

</section>
